<!DOCTYPE html>
<html lang="en">
  <head>

    {{> head}}

    <script type="text/javascript" src="jquery-1.9.0.min.js"></script>
  </head>

  <body>

    {{> nav}}

    <div class="container">
        <div class="hero-unit" style="padding-top:20px; padding-bottom:20px">
            <div class="row" style="font-size:x-large">
                <img src="tree_114x114.png" />So, what's this all about...?
            </div>
        </div>

        <div class="row">
            <div class="span8 offset2">
                <p class="lead">Many Boy Scout Troops across the country raise money for Scouting activities by collecting and recycling Christmas trees in their community for a nominal donation. During these fundraisers, adult drivers can use this website via their smartphones to <a href="mark">mark</a> the location of each tree pickup quickly and easily.  The event coordinator can monitor each driver's progress as tree pickups are updated real-time on the <a href="map">map</a>.<p>

                <div align="center"><a name="how_to"></a><img src="tree_57x57.png" /></div>

                <h4>How do I use this site?</h4>
                <p><strong>If you're a driver</strong>, you probably have a car full of Scouts, a trailer hitched to your car and a map of the neighborhoods you're supposed to cover.  Pop some Excedrin and grab another cup of coffee.  Next, navigate to the <a href="mark">Mark a Pickup</a> page on your smartphone and set it next to you in the car.  Each time you stop to pick up a tree, hit the "Mark a Pickup" button, and the website will record the location and time of the pickup. You can tag your pickups to identify them as yours - just use the "Change Tag" link to change your tag to something like "Mike's Car", or "Raven Patrol".</p>
                <p>The only tricky part is "enabling location services" on your phone, which tells your phone it's ok to give away your location information.  Many folks turn off location services out of privacy concerns, and for good reason.  However, it must be turned on if you're going to use this website.  If you need help, here are some articles for various types of smartphone operating systems:</p>
                <ul>
                    <li><a href="http://support.google.com/coordinate/bin/answer.py?hl=en&answer=2569281">Android</a></li>
                    <li><a href="http://support.apple.com/kb/HT5467">iOS 6</a></li>
                    <li><a href="http://support.apple.com/kb/HT4995">iOS 5</a></li>
                    <li><a href="http://support.apple.com/kb/HT1975">iOS 4</a></li>
                    <li><a href="http://www.windowsphone.com/en-us/how-to/wp8/web/change-privacy-and-other-browser-settings">Windows Phone 8</a></li>
                    <li><a href="http://www.windowsphone.com/en-US/how-to/wp7/web/location-awareness-and-my-phone">Windows Phone 7</a></li>
                </ul>
                <br/>
                <p><strong>If you're the event coordinator</strong>, use the <a href="map">map</a> to zoom in on your community.  As drivers mark each tree pickup, a small <img src="favicon_32x32.ico" width="20px" /> tree icon will appear on the map.  If you hover over a tree icon with your mouse, you'll see the date and time of that pickup, and you'll see the tag, such as "Mike's Car" or "Raven Patrol", that your driver is using (see above).</p>
                <br/>
                <h4>&lt;Geeky stuff \&gt;</h4>
                <p>This site is hosted by <a href="http://www.heroku.com/">Heroku</a>, and is built on <a href="http://nodejs.org/">node.js</a> using the <a href="http://expressjs.com/">express</a> web framework. Data is stored in a <a href="http://www.mongodb.org/">MongoDB</a> database hosted by <a href="http://www.mongohq.com/home">MongoHQ</a>. Pages are built with the help of Twitter's outstanding <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a> framework and rendered using <a href="http://handlebarsjs.com/">Handlebars</a> templates.  The whole thing is written in <a href="https://developer.mozilla.org/en-US/docs/JavaScript">javascript</a> and <a href="http://diveintohtml5.info/index.html">HTML5</a>, and the source code is (almost) available on <a href="https://github.com/mattskone">GitHub</a>.</p>
                <br/>
                <h4>About the author</h4>
                <p>Matt Skone is an Assistant Scoutmaster with his local BSA Troop.  When he's not hiking or camping, he's writing code and wishing he was.  Connect with him on <a href="http://www.linkedin.com/in/mattskone">LinkedIn</a>, <a href="http://twitter.com/mattskone">Twitter</a> or <a href="https://github.com/mattskone">GitHub</a>.</p>
            </div>
        </div>

      {{> footer}}

    </div>

    <script type="text/javascript" src="bootstrap.js"></script>

  </body>
</html>