<!DOCTYPE html>
<html lang="en">
  <head>

    {{> head}}

    <meta name="description" content="Go mobile with your Boy Scout Christmas tree recycling fundraiser.  Mark tree pickups with your smartphone and track your collection progress real-time on Google Maps.">

    <script type="text/javascript" src="jquery-1.9.0.min.js"></script>
  </head>

  <body>

    {{> nav}}

    <div class="container">

      <div class="hero-unit">
        <div class="row">
          <div class="span6" align="right">
            <h1>BSA Tree Recycle</h1>
            <p class="lead">Track your trees!</p>
            <br>
            <p>Mark tree pickups with your smartphone and track your collection progress real-time on Google Maps.</p>
            <a href="about">Learn more &raquo;</a>
          </div>
          <div class="span4">
            <img src="tree.png" width="150" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span2"></div>
        <div class="span3">
          <!-- <div align="center"> -->
            <a href="mark"><img src="smartphone.jpeg" width="100" /></a>
          <!-- </div> -->
          <h2>Mark a Pickup</h2>
          <p>Go here with your smartphone to mark a tree pickup.</p>
        </div>
        <div class="span2"></div>
        <div class="span4">
          <!-- <div align="center"> -->
            <a href="map"><img src="map.gif" width="100" class="img-shadow" /></a>
          <!-- </div> -->
          <h2>Check the Map</h2>
          <p>See live updates of your tree collection progress.</p>
       </div>
       <div class="span1"></div>
      </div>

      {{> footer}}

    </div>

    <script type="text/javascript" src="bootstrap.js"></script>

  </body>
</html>
