doctype 5
html
    head
        title BSA Tree Recycle
      
        script(
            type="text/javascript"
            src="jquery-1.9.0.min.js")
        
        script(type="text/javascript")
            $(document).ready(function() {
                console.log('!{local_data}');
                $('#output').append('!{local_data}');
            });
        
    body
        p Welcome to the BSA Tree Recycle jade template
        
        form(method="post", action="createmarker")
            p Lat:&nbsp;
                input(name="lat", id="lat")
            p Long:&nbsp;
                input(name="lng", id="lng")
            button(type="submit") Click me
            
        br
        #output