<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home | BSA Tree Recycle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link rel="stylesheet" type="text/css" href="custom.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="bootstrap-responsive.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon" sizes="114x114" href="tree_114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="tree_72x72.png">
    <link rel="apple-touch-icon" sizes="57x57" href="tree_57x57.png">
    <link rel="shortcut icon" href="favicon_32x32.ico">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand">BSA Tree Recycle</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="mark">Mark</a></li>
              <li><a href="map">Map</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="hero-unit">
        <div class="row">
          <div class="span6" align="right">
            <h1>BSA Tree Recycle</h1>
            <p class="lead">Track your trees!</p>
            <br>
            <p>Mark tree pickups with your smartphone and track your collection progress real-time on Google Maps.</p>
            <a href="about.html">Learn more &raquo;</a>
          </div>
          <div class="span4">
            <img src="tree.png" width="150" />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span2"></div>
        <div class="span3">
          <!-- <div align="center"> -->
            <a href="mark"><img src="smartphone.jpeg" width="100" /></a>
          <!-- </div> -->
          <h2>Mark a Pickup</h2>
          <p>Go here with your smartphone to mark a tree pickup.</p>
        </div>
        <div class="span2"></div>
        <div class="span4">
          <!-- <div align="center"> -->
            <a href="map"><img src="map.gif" width="100" class="img-shadow" /></a>
          <!-- </div> -->
          <h2>Check the Map</h2>
          <p>See live updates of your tree collection progress.</p>
       </div>
       <div class="span1"></div>
      </div>

      <hr>

    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery-1.9.0.min.js"></script>
    <script src="bootstrap.js"></script>

  </body>
</html>
