doctype 5
html
    head
        title BSA Tree Recycle
      
        script(
            type="text/javascript"
            src="jquery-1.9.0.min.js")
        
        script(type="text/javascript")
            $(document).ready(function() {
                $("#mybutton").click(function(){
                    $.post('jquerytest', {lat: 47, lon: -122, time: new Date().getTime()}, function(data){
                        $('#output').append(data[data.length - 1] + '<br/>');
                    });
                });
            });
        
    body
        p Welcome to the BSA Tree Recycle jade template
        
        form(method="post", action="createmarker")
            p Lat:&nbsp;
                input(name="lat", id="lat")
            p Long:&nbsp;
                input(name="lng", id="lng")
            button(type="submit") Click me