doctype 5
html
    head
        title BSA Tree Recycle Javascript Test
            
        script(
            type="text/javascript"
            src="jquery-1.9.0.min.js")

        script(type="text/javascript")
            $(document).ready(function() {
                
            });
            
            function test() {
              navigator.geolocation.getCurrentPosition(function(posit) {
                var lat = posit.coords.latitude;
                var lng = posit.coords.longitude;
                alert(lat);
              });
            };
        
    
    body
        button(onClick="test();") Test javascript
