doctype 5
html
    head
        title BSA Tree Recycle Javascript Test
            
        script(
            type="text/javascript"
            src="jquery-1.9.0.min.js")

        script(type="text/javascript")
            $(document).ready(function() {
                
            });
            
            function test() {
              var geoloc_avail = navigator.geolocation !== 'undefined';
              if (geoloc_avail) {
                navigator.geolocation.getCurrentPosition(function(posit) {
                  var lat = posit.coords.latitude;
                  var lng = posit.coords.longitude;
                  alert('Lat: ' + lat);
              } else {
                alert('Geolocation not available');
              }
            };
        
    
    body
        button(onClick="test();") Test javascript
