<!DOCTYPE html>
<html lang="en">
  <head>

    {{> head}}
    
    <link rel="stylesheet" type="text/css" href="jquery-ui-1.10.0.custom.css">
    <script type="text/javascript" src="jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="jquery-ui-1.10.0.custom.min.js"></script>
    {{> map_script}}
    <script type="text/javascript" src="map.js"></script>
  </head>

  <body>

    {{> nav}}

    <div class="container">
        <div class="hero-unit" style="padding-top:10px; padding-bottom:10px">
            <div class="row" align="center">
                <img src="tree_57x57.png" /><br/>
                Show pickups from: <a id="date_link" style="cursor:pointer">Today</a>
                <div id="calendar" style="font-size:small; line-height:15px; display:none;"></div>
                <br/>
                <p><small>(Zoomed in on your neighborhood? <a id="set_map_default" style="cursor:pointer">Set this map as your default</a>.)</small></p>
            </div>
        </div>
      <div align="center">
          <div id="map_canvas" style="width:500px; height:300px;"></div>
      </div>

      {{> footer}}

    </div>

    <script type="text/javascript" src="bootstrap.js"></script>

  </body>
</html>
