doctype 5
html
    head
        title BSA Tree Recycle Mobile
            
        script(
            type="text/javascript"
            src="jquery-1.9.0.min.js")

        script(type="text/javascript")
            $(document).ready(function() {
                $('#output').append('!{local_data}');
            });
        
            function markTree() {
              navigator.geolocation.getCurrentPosition(function(posit) {
                var lat = posit.coords.latitude;
                var lng = posit.coords.longitude;
                console.log('Lat: ' + lat);
                console.log('Long: ' + lng);
                $.post('createmarker', { 'lat': lat, 'lng': lng });
                $('#latlng').append('Lat: ' + lat + ', Long: ' + lng);
              });
            };
    
    body
        button(onClick="markTree();") Mark a pickup
        
        br
        br
        #output
        br
        #latlng